{% load static %}
<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="caption header-text">
                    {% if not user.is_authenticated %}
                        <h6>Добро пожаловать</h6>
                    {% else %}
                        <h6>Добро пожаловать, {{ user.username }}</h6>
                    {% endif %}
                    <h2>ЛУЧШИЙ САЙТ В МИРЕ!</h2>
                    <p>LUGX Gaming - сайт, где вы можете скачать игры любых жанров на любой вкус. Купив подписку
                        стоимостью 5$, вы сможете скачивать игры в неограниченных масштабах на всю жизнь! Рассказывайте
                        о нас своим друзьям!</p>
                    <div class="search-input">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="right-image">
                    <a href=" {% if user.is_authenticated %}{{ game.get_absolute_url }}{% else %}{% url 'login' %}{% endif %}">
                        <img src="{{ game.show_poster }}" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>